<head>  <meta name="description"
  content="This is a personal-budget application that gives budget advice."></head>
<!-- This is an SEO Change: added meta tag to describe purpose of webpage-->
<script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="piechart1.js"></script>
<pb-breadcrumbs></pb-breadcrumbs>
<div class="container center">

  <div class="page-area">

      <div class="text-box">
          <h2>Stay on track</h2>
          <!-- This is an A11y Change: changed h1 elements to h2 so only 1 h1 element exists-->
          <p>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </p>
      </div>

      <div class="text-box">
          <h2>Alerts</h2>
          <p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </div>

      <div class="text-box">
          <h2>Results</h2>
          <p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </div>

      <div class="text-box">
          <h2>Free</h2>
          <p>
              This app is free!!! And you are the only one holding your data!
          </p>
      </div>

      <div class="text-box">
          <h2>Stay on track</h2>
          <p>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </p>
      </div>

      <div class="text-box">
          <h2>Alerts</h2>
          <p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </div>

      <div class="text-box">
          <h2>Results</h2>
          <p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </div>

      <div class="text-box">
          <h2>Chart</h2>
          <p>
              <canvas id = "myChart" width="400" height="400"></canvas>
          </p>
      </div>
      <div class="text-box">
          <h2>Second Chart</h2>
          <p>
              <canvas id = "myChart" width="400" height="0"></canvas>
          </p>
      </div>

      <div class="pie-chart"></div>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="piechart1.js"></script>
    <figure id="pie"></figure>
  </div>

</div>
