<footer class="bottom" aria-label="footer of page">
  <!-- This is a Semantic HTML Change: changed div to footer -->
  <!-- This is an A11y Change: added aria-label to describe purpose of class -->
  <div class="center" aria-label="footer of page">
      All rights reserved &copy; Fabio Nolasco
      <a href="https://validator.w3.org/">html-validator</a>
      <a href="https://jigsaw.w3.org/css-validator/">css-validator</a>
  <!-- This is an SEO Change: added html and css validator to enhance performance -->
  </div>
</footer>
